.target-bar-green {
  background: linear-gradient(90deg, #12d595, 0%, var(--green-bright) 100%);
}

.target-bar-yellow {
  background: linear-gradient(90deg, #f6a823, 0%, var(--yellow-bright) 100%);
}

.target-bar-blue {
  background: linear-gradient(90deg, #4f8ef7, var(--blue-bright) 100%);
}
