@if (account(); as acc) {
  <div class="xl:flex xl:flex-row xl:justify-between">
    <app-account-header
      [logoUrl]="acc.logoUrl"
      [accountName]="acc.accountName"
      [address]="acc.address"
      [accountNumber]="acc.accountNumber"
      [broker]="acc.broker"
      [underwriter]="acc.underwriter"
    ></app-account-header>

    <app-account-attention></app-account-attention>
  </div>
  <app-performance-metrics></app-performance-metrics>
  <app-policies></app-policies>

  <div class="grid grid-cols-[1fr_2fr] lg:grid-cols-[2fr_1fr] gap-8">
    <app-account-status></app-account-status>
    <app-compliance></app-compliance>
  </div>

  <app-account-specification></app-account-specification>
  <app-messages></app-messages>
  <app-policies-table></app-policies-table>
}
